@tailwind base;
@tailwind components;
@tailwind utilities;

* {

}

:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; /* Change font to Inter */
  border-color: #000; /* Set border color */
  background-color: #222531;
  color: #f2f2f2;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-shadow: rgb(255 255 255 / 30%) 0px 0px 12px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  background-color: rgb(255, 255, 255);
  background-image: linear-gradient(88deg, rgb(191, 204, 10) 0%, rgb(36, 238, 9) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  text-align: center;
}

.table {
  box-sizing: border-box;
  transform: translateZ(0px);
  border-collapse: collapse;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  width: 100%;
  background-color: var(--table-background-color);
}

.table-header {
  font-size: 12px;
  text-transform: uppercase;
}

.table__start {
  text-align: start;
}

.table__end {
  text-align: center;
}

.table th,
.table td {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.table td {
  color: #fff;
}

/* For desktop */
.table tr:hover td {
  background-color: #5553532a;
}

/* For mobile */
@media (max-width: 640px) {
  .table tr:hover td {
    background-color: #222531;
  }
}

.table-row {
  border-top-width: 1px;
  border-top-color: #ddd;
}

/* First column */
.sticky {
  position: sticky;
  left: 0;
}


.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(163 230 53);
  border-color: rgb(163 230 53) transparent rgb(163 230 53) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
