.slick-dots li button:before {
    display: block !important;
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: #94a3b8 !important; 
    box-shadow: 0 0 0 0.1px black;
    font-size: 0 !important;
  }
  
  .slick-dots li.slick-active button:before {
    background-color: #84cc16 !important;
    opacity: 1 !important;
  }

  .slick-dots li.slick-active button:hover:before {
    background-color: #a3e635 !important;
    opacity: 1 !important;
  }
  
  .slick-dots {
    display: flex !important;
    padding: 0.5rem 0.5rem !important;
    justify-content: center !important;
    position: absolute !important;
    width: 100% !important;
    list-style-type: none !important;
  }

  
  .slick-slider div { transition: none; }
  
  .slick-dots li button:hover:before {
    background-color: #e2e8f0 !important;
  }